body {
    padding-left: 4%;
}

/* Page title */
.header {
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    padding-top: 18pt;
    padding-bottom: 25pt;
}

/* ---- MAJOR LAYOUT DIVS ---- */
/*Main content holder*/
#maincontent {
     white-space: nowrap;
}

/* Info blurb box */
#info {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 25%;
    min-width: 280px;
    margin-right: 20px;
    white-space: normal;
}

/* Chart container */
#container {
    height: 350px;
}

.output {
    display: inline-block;
    text-align: center;
    width: 40%;
    min-width: 450px;
    margin-right: 30px;
    white-space: normal;
}

/* Container for input sliders */
.inputs {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    min-width: 360px;
    padding: 15px 0px 0px 30px;
    border: 1pt #ccc solid;
    margin-top: 15px;
    white-space: normal;
}

.following{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.footer {
    margin-top: 40pt;
    text-align: center;
    font-size: 80%;
}

/* ---- INPUT CONTROL STYLES ---- */
.input-item {
    margin-bottom: 5px;
}

.input-label {
    font-size: 10pt;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 30%;
    min-width: 80px;
}

.slider {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 10px;
}

.slider.slider-horizontal {
  width: 100px;
  height: 20px;
}

.sliderValueBox {
    text-align: center;
    border: 1px solid #000;
    width: 55px;
}

.selectpicker {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-left: 15px;
}

.btn {
    margin-left: 5px;
    vertical-align: middle;
}
