body {
    padding-left: 4%;
    padding-right: 20px;
}

/* Page title */
.header {
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    padding-top: 18pt;
    padding-bottom: 25pt;
}

/* ---- MAJOR LAYOUT DIVS ---- */
/* Info blurb box */
#info {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 24%;
    min-width: 320px;
    margin-right: 30px;
}

/* Chart container */
#container {
    height: 400px;
}

.output {
    display: inline-block;
    text-align: center;
    width: 40%;
    min-width: 320px;
    margin-right: 50px;
}

/* Container for input sliders */
.inputs {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    min-width: 320px;
    max-width: 335px;
    padding: 10px 10px 15px 15px;
    border: 1pt #ccc solid;
    margin-top: 30px;
}

.following{
    margin-top: 20px;
    text-align: center;
}

.footer {
    margin-top: 50pt;
    text-align: center;
    font-size: 80%;
}

/* ---- INPUT CONTROL STYLES ---- */
.input-item {
    margin-bottom: 5px;
}

.input-label {
    font-size: 10pt;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 30%;
    min-width: 80px;
}

.slider {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 10px;
}

.slider.slider-horizontal {
  width: 100px;
  height: 20px;
}

.sliderValueBox {
    text-align: center;
    border: 1px solid #000;
    width: 55px;
}

.selectpicker {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    margin-left: 15px;
}
